{% extends "base.html" %}
{% load rubles_format %}
{% block content %}

<div class="bg-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0" style="margin-left: -60px;">
                <a href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Shop</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 mb-4">
                <div class="row mb-5">
                    {% for product in object_list %}
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-4" data-aos='fade-up'>
                            <figure class="">
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="img-fluid custom-fit "></a>
                            </figure>

                            <div class="block-4-text p-4">
                                <a href="{{ product.get_absolute_url }}" class="no-underline">
                                    <h3>{{ product.title }}</h3>
                                </a>
                                <p class="mb-0">{{ product.description }}</p>
                                <p><span class="mb-0"><strong>{{ product.price|rubles_format }} ₽ </strong></span></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="border p-4 rounded mb-4">
                    <h3 class="h6 text-uppercase text-black">Categories</h3>
                    <ul>
                        {% for category in categories %}
                        <li class="mb-1">
                            <a href="?category={{ category.name }}" class="d-flex">
                                <span>{{ category.name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}